{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Main content -->
<main>
    <section class="container">
        <div class="site-content">

            <div class="postpage">
                <!-- Post -->
                {% for post in queryset %}
                <div class="post-content">
                    <div class="post-image">
                        <div>
                            <a href="{{ post.get_absolute_url }}">
                                <img src="{{ post.thumbnail.url }}" class="img" alt="{{post.title}}">
                            </a>
                        </div>
                        <div class="post-info flex-row">
                            <span><i class="fas fa-user text-grey"></i>&nbsp;&nbsp;{{ post.author }}</span>
                            <span><i class="fas fa-calendar-alt text-grey"></i>&nbsp;{{ post.timestamp|timesince }} atrás</span>
                        </div>
                    </div>
                    <div class="post-title">
                        <a href="{{ post.get_absolute_url }}"> {{ post.title }} </a>
                        <div class="tags flex-row">
                            {% for cat in post.categories.all %}
                            <a href="#">
                                <span class="tag">{{ cat.title }}</span>
                            </a>
                            {% endfor %}
                        </div>
                        <p>{{ post.overview|truncatechars:100 }}</p>
                        <a href="{{ post.get_absolute_url }}" class="btn post-btn">Leia mais &nbsp; <i class="fas fa-arrow-right"></i> </a>
                    </div>
                </div><!-- end of post -->
                {% endfor %}
            </div>

            {% include 'components/sidebar.html' with most_recent=most_recent category_count=category_count %}

            <div class="pagination flex-row">
                {% if queryset.has_previous %}
                <a href="?{{ page_request }}={{ queryset.previous_page_number }}">
                    <i class="fas fa-chevron-left"></i>
                </a>
                {% endif %}

                <a class="pages active" href="{{ queryset.number }}">{{ queryset.number }}</a>

                {% if queryset.has_next %}
                <a href="?{{ page_request }}={{ queryset.next_page_number }}">
                    <i class="fas fa-chevron-right"></i>
                </a>
                {% endif %}
            </div>

        </div>

        </div>
    </section>
</main>
{% endblock content %}
