{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Main content -->
<main>
    <section class="container">
        <div class="site-content">

            <div class="postpage">
                <!-- Post -->
                {% for post in queryset %}
                <div class="post-content">
                    <div class="post-image">
                        <div>
                            <a href="{{ post.get_absolute_url }}">
                                <img src="{{ post.thumbnail.url }}" class="img" alt="{{post.title}}">
                            </a>
                        </div>
                        <div class="post-info flex-row">
                            <span><i class="fas fa-user text-grey"></i>&nbsp;&nbsp;{{ post.author }}</span>
                            <span><i class="fas fa-calendar-alt text-grey"></i>&nbsp;{{ post.timestamp|timesince }} atrás</span>
                        </div>
                    </div>
                    <div class="post-title">
                        <a class="title" href="{{ post.get_absolute_url }}"> {{ post.title }} </a>
                        <div class="tags flex-row">
                            {% for cat in post.categories.all %}
                            <a href="http://localhost:8000/seach/?q={{ cat.title }}">
                                <span class="tag">{{ cat.title }}</span>
                            </a>
                            {% endfor %}
                        </div>
                        <p class="mb-2">{{ post.overview|truncatechars:100 }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>

            {% include 'components/sidebar.html' with most_recent=most_recent category_count=category_count %}

            <div class="pagination flex-row">
                {% if queryset.has_previous %}
                    <span class="hide-small">
                        <a href="?page=1">&Lang;Primeira</a>
                        <a href="?{{ page_request }}={{ queryset.previous_page_number }}">
                            <i class="fas fa-chevron-left"></i> Anterior
                        </a>
                    </span>
                {% endif %}
                <span>
                    {% if queryset.has_previous %}
                        <a class="pages" href="?{{ page_request }}={{ queryset.previous_page_number }}">{{ queryset.previous_page_number }}</a>
                    {% endif %}
                    <a class="pages active" href="?{{ page_request }}={{ queryset.number }}">{{ queryset.number }}</a>
                    {% if queryset.has_next %}
                        <a class="pages" href="?page={{ queryset.next_page_number }}">{{ queryset.next_page_number }}</a>
                    {% endif %}
                    de <a class="pages" href="?{{ page_request }}={{ queryset.paginator.num_pages }}">{{ queryset.paginator.num_pages }}</a>.
                </span>
                {% if queryset.has_next %}
                    <span>
                        <a href="?{{ page_request }}={{ queryset.next_page_number }}">
                            Próxima <i class="fas fa-chevron-right"></i>
                        </a>
                        <a href="?{{ page_request }}={{ queryset.paginator.num_pages }}">Ultima &Rang;</a>
                    </span>
                {% endif %}
            </div>

        </div>

        </div>
    </section>
</main>
{% endblock content %}
