{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Main Section -->
<main>
    <!-- Hero Section -->
    <section class="hero-title">
        <div class="hero-background">
            <h3>Lucas Blog</h3>
            <h1>O mais criativo possível</h1>
            <button class="btn">Explore</button>
        </div>
    </section>

    <!-- Carousel Section -->
    <section>
        <div class="blog">
            <div class="container">
                <div class="owl-carousel owl-theme blog-post">
                    <!-- Carousel Item -->
                    <div class="blog-content">
                        <img src="{% static 'assets/img/Blog-post/post-10.jpg' %}" alt="">
                        <div class="blog-title">
                            <h3>Landon Fashion week's continued the evolution</h3>
                            <button class="btn btn-blog">Fashion</button>
                        </div>
                    </div>
                    <!-- Carousel Item -->
                    <div class="blog-content">
                        <img src="{% static 'assets/img/Blog-post/post-1.jpg' %}" alt="">
                        <div class="blog-title">
                            <h3>Landon Fashion week's continued the evolution</h3>
                            <button class="btn btn-blog">Fashion</button>
                        </div>
                    </div>
                    <!-- Carousel Item -->
                    <div class="blog-content">
                        <img src="{% static 'assets/img/Blog-post/post-2.jpg' %}" alt="">
                        <div class="blog-title">
                            <h3>Landon Fashion week's continued the evolution</h3>
                            <button class="btn btn-blog">Fashion</button>
                        </div>
                    </div>
                    <!-- Carousel Item -->
                    <div class="blog-content">
                        <img src="{% static 'assets/img/Blog-post/post-3.jpg' %}" alt="">
                        <div class="blog-title">
                            <h3>Landon Fashion week's continued the evolution</h3>
                            <button class="btn btn-blog">Fashion</button>
                        </div>
                    </div>
                    <!-- Carousel Item -->
                    <div class="blog-content">
                        <img src="{% static 'assets/img/Blog-post/post-4.png' %}" alt="">
                        <div class="blog-title">
                            <h3>Landon Fashion week's continued the evolution</h3>
                            <button class="btn btn-blog">Fashion</button>
                        </div>
                    </div>
                    <!-- Carousel Item -->
                    <div class="blog-content">
                        <img src="{% static 'assets/img/Blog-post/post-5.png' %}" alt="">
                        <div class="blog-title">
                            <h3>Landon Fashion week's continued the evolution</h3>
                            <button class="btn btn-blog">Fashion</button>
                        </div>
                    </div>
                    <!-- Carousel Item -->
                    <div class="blog-content">
                        <img src="{% static 'assets/img/Blog-post/post-6.png' %}" alt="">
                        <div class="blog-title">
                            <h3>Landon Fashion week's continued the evolution</h3>
                            <button class="btn btn-blog">Fashion</button>
                        </div>
                    </div>
                    <!-- Carousel Item -->
                    <div class="blog-content">
                        <img src="{% static 'assets/img/Blog-post/post-7.jpg' %}" alt="">
                        <div class="blog-title">
                            <h3>Landon Fashion week's continued the evolution</h3>
                            <button class="btn btn-blog">Fashion</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Site content -->
    <section class="container">
        <div class="site-content">
            <!-- POSTS -->
            <div class="posts">
                <!-- Dummy Post 1 -->
                <div class="post-content">
                    <div class="post-image">
                        <div>
                            <img src="{% static 'assets/img/Blog-post/blog1.png' %}" class="img" alt="blog1">
                        </div>
                        <div class="post-info flex-row">
                            <span><i class="fas fa-user text-grey"></i>&nbsp;&nbsp;Admin</span>
                            <span><i class="fas fa-calendar-alt text-grey"></i>&nbsp;04 Dezembro 2019</span>
                            <span><i class="fas fa-comment text-grey"></i>&nbsp;10</span>
                        </div>
                    </div>
                    <div class="post-title">
                        <a href="#"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, consectetur!</a>
                        <div class="tags flex-row">
                            <span class="tag">Design</span>
                            <span class="tag">Fashion</span>
                        </div>
                        <p class="display">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut dolor tenetur expedita hic repellat provident autem nostrum reprehenderit fuga, fugiat, doloribus magnam! Quia iusto praesentium, rem amet provident accusantium aliquam eligendi autem quo facilis commodi totam! Accusantium blanditiis libero dolore?</p>
                        <button class="btn post-btn">Leia mais &nbsp; <i class="fas fa-arrow-right"></i> </button>
                    </div>
                </div><!-- end of  dummy post -->
                <hr>
                <!-- Dummy Post 2 -->
                <div class="post-content">
                    <div class="post-image">
                        <div>
                            <img src="{% static 'assets/img/Blog-post/blog2.png' %}" class="img" alt="blog1">
                        </div>
                        <div class="post-info flex-row">
                            <span><i class="fas fa-user text-grey"></i>&nbsp;&nbsp;Admin</span>
                            <span><i class="fas fa-calendar-alt text-grey"></i>&nbsp;03 Dezembro 2019</span>
                            <span><i class="fas fa-comment text-grey"></i>&nbsp;1</span>
                        </div>
                    </div>
                    <div class="post-title">
                        <a href="#"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, consectetur!</a>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut dolor tenetur expedita hic repellat provident autem nostrum reprehenderit fuga, fugiat, doloribus magnam! Quia iusto praesentium, rem amet provident accusantium aliquam eligendi autem quo facilis commodi totam! Accusantium blanditiis libero dolore?</p>
                        <button class="btn post-btn">Leia mais &nbsp; <i class="fas fa-arrow-right"></i> </button>
                    </div>
                </div><!-- end of  dummy post -->
                <hr>
                <!-- Dummy Post 3 -->
                <div class="post-content">
                    <div class="post-image">
                        <div>
                            <img src="{% static 'assets/img/Blog-post/blog3.png' %}" class="img" alt="blog1">
                        </div>
                        <div class="post-info flex-row">
                            <span><i class="fas fa-user text-grey"></i>&nbsp;&nbsp;Admin</span>
                            <span><i class="fas fa-calendar-alt text-grey"></i>&nbsp;02 Dezembro 2019</span>
                            <span><i class="fas fa-comment text-grey"></i>&nbsp;119</span>
                        </div>
                    </div>
                    <div class="post-title">
                        <a href="#"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, consectetur!</a>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut dolor tenetur expedita hic repellat provident autem nostrum reprehenderit fuga, fugiat, doloribus magnam! Quia iusto praesentium, rem amet provident accusantium aliquam eligendi autem quo facilis commodi totam! Accusantium blanditiis libero dolore?</p>
                        <button class="btn post-btn">Leia mais &nbsp; <i class="fas fa-arrow-right"></i> </button>
                    </div>
                </div><!-- end of  dummy post -->
                <hr>
                <!-- Dummy Post 4 -->
                <div class="post-content">
                    <div class="post-image">
                        <div>
                            <img src="{% static 'assets/img/Blog-post/blog4.png' %}" class="img" alt="blog1">
                        </div>
                        <div class="post-info flex-row">
                            <span><i class="fas fa-user text-grey"></i>&nbsp;&nbsp;Admin</span>
                            <span><i class="fas fa-calendar-alt text-grey"></i>&nbsp;01 Dezembro 2019</span>
                            <span><i class="fas fa-comment text-grey"></i>&nbsp;12986</span>
                        </div>
                    </div>
                    <div class="post-title">
                        <a href="#"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, consectetur!</a>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut dolor tenetur expedita hic repellat provident autem nostrum reprehenderit fuga, fugiat, doloribus magnam! Quia iusto praesentium, rem amet provident accusantium aliquam eligendi autem quo facilis commodi totam! Accusantium blanditiis libero dolore?</p>
                        <button class="btn post-btn">Leia mais &nbsp; <i class="fas fa-arrow-right"></i> </button>
                    </div>
                </div><!-- end of  dummy post -->

                <div class="pagination flex-row">
                    <a href="#"><i class="fas fa-chevron-left"></i></a>
                    <a class="pages" href="#">1</a>
                    <a class="pages" href="#">2</a>
                    <a class="pages" href="#">3</a>
                    <a href="#"><i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
            {% include "components/sidebar.html" %}
        </div>
    </section>
</main>


{% endblock content %}
