{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Main Section -->
<main>
    <!-- Hero Section -->
    <section class="hero-title">
        <div class="hero-background">
            <h3>Lucas Blog</h3>
            <h1>O mais criativo possível</h1>
            <button class="btn">Explore</button>
        </div>
    </section>

    <!-- Site content -->
    <section class="container">
        <h2 class="mt-4 home-h2">
            <span class="home-title">Últimas Notícias</span>
        </h2>
        <div class="home mb-4">
            {% for obj in latest %}
            <div class="home-post-item">
                <a class="img" href="{{ obj.get_absolute_url }}" >
                    <img src="{{ obj.thumbnail.url }}" alt="{{ obj.title }}">
                </a>
                <a href="{{ obj.get_absolute_url }}" class="home-title">{{ obj.title }}</a>
            </div>
            {% endfor %}
        </div>
    </section>
</main>


{% endblock content %}
