{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Main content -->
<main>
    <section class="container">
        <div class="site-content">

            <div class="singlepostpage">
                <div class="post-content">
                    <div class="post-image">
                        <div>
                            <img src="{{ post.thumbnail.url }}" class="img" alt="{{ post.title }}">
                        </div>
                        <div class="post-info flex-row">
                            <span><i class="fas fa-user text-grey"></i>&nbsp;&nbsp;{{ post.author }}</span>
                            <span><i class="fas fa-calendar-alt text-grey"></i>&nbsp;{{ post.timestamp|timesince }} atrás</span>
                        </div>
                    </div>
                    <div class="post-title">
                        <a class="mb-2" href="#">{{ post.title }}</a>
                        <div class="tags flex-row">
                            {% for cat in post.categories.all %}
                            <a href="#">
                                <span class="tag">{{ cat.title }}</span>
                            </a>
                            {% endfor %}
                        </div>
                        {% if author == request.user.username %}
                        <div>
                            <a href="{% url 'post-update' id=post.id %}">
                                <span class="btn-update">Atualizar</span>
                            </a>
                            <button class="btn-delete" data-target="simpleModal" data-toggle="modal">Deletar</button>
                        </div>
                        {% endif %}
                        <div class="post-body">
                            {{ post.content| safe}}
                        </div>
                    </div>
                </div>
                <div class="post-suggested"><span>Posts sugeridos</span></div>
                <div class="next-previus-post flex-row">
                    {% if post.previous_post %}
                    <div class="post-title flex-row">
                        <a href="{{ post.previous_post.get_absolute_url }}">
                            <i class="fas fa-chevron-left"></i>
                            <span>{{ post.previous_post.title|truncatechars:30  }}</span>
                        </a>
                    </div>
                    {% endif %}
                    {% if post.next_post %}
                    <div class="post-title flex-row">
                        <a href="{{ post.next_post.get_absolute_url }}">
                            <span>{{ post.next_post.title|truncatechars:30 }}</span>
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                    {% endif %}
                </div>
                <div id="comentary">
                    <div class="container">
                        <h3>Comentarios ({{ post.comments.count }})</h3>
                    </div>

                    {% for comment in post.get_comments %}
                    <div class="comentary">
                        <div>
                            <span>
                                <!--  Can be a image if I want... maybe one day I change it
                                <img src="{{ comment.user.author.profile_picture.url }}" alt="..." class=""> -->
                                <i class="fas fa-user text-red"></i>
                                &nbsp;&nbsp;{{ comment.user.username }}
                            </span>
                        </div>
                        <div>
                            <span>
                                <i class="fas fa-calendar-alt text-grey"></i>
                                &nbsp;{{ comment.timestamp|date|lower }}
                            </span>
                        </div>
                        <div>
                            <p>{{ comment.content }}</p>
                        </div>
                    </div>
                    {% endfor %}

                    {% if request.user.is_authenticated %}
                    <div>
                        <form method="POST" action=".">
                            {% csrf_token %}
                            <div class="mt-4">
                                <p>Faça um comentário</p>
                            </div>
                            <div id="comentary-form">
                                {{ form }}
                            </div>
                            <div class="my-2">
                                <button type="submit">Comentar</button>
                            </div>
                        </form>
                    </div>
                    {% else %}
                        <a href="{% url 'account_login' %}" class="btn-cancel">Entrar para comentar</a>
                    {% endif %}

                </div>
            </div>

            {% include 'components/sidebar.html' with most_recent=most_recent category_count=category_count %}

        </div>

        </div>
    </section>

</main>

<div id="simpleModal" class="modal">
    <div class="modal-window">
        <span class="close" data-dismiss="modal">&times;</span>
        <h3>Confirmação para deletar</h3>
        <p>Realmente tem certeza que deseja deletar, {{post.title}} </p>
        <hr class="my-2" />
        <button class="btn-cancel" data-dismiss="modal">Cancelar</button>
        <a href="{% url 'post-delete' id=post.id %}">
            <span class="btn-delete">Deletar</span>
        </a>
    </div>
</div>

<script src="{% static 'assets/js/modal.js' %}"></script>
{% endblock content %}
