{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Main content -->
<main>
    <section class="container">
        <div class="site-content">

            <div class="singlepostpage">
                <!-- Dummy Single Post -->
                <div class="post-content">
                    <div class="post-image">
                        <div>
                            <img src="{{ post.thumbnail.url }}" class="img" alt="{{ post.title }}">
                        </div>
                        <div class="post-info flex-row">
                            <span><i class="fas fa-user text-grey"></i>&nbsp;&nbsp;{{ post.author }}</span>
                            <span><i class="fas fa-calendar-alt text-grey"></i>&nbsp;{{ post.timestamp|timesince }} atrás</span>
                        </div>
                    </div>
                    <div class="post-title">
                        <a class="mb-2" href="#">{{ post.title }}</a>
                        <div class="tags flex-row">
                            {% for cat in post.categories.all %}
                            <a href="#">
                                <span class="tag">{{ cat.title }}</span>
                            </a>
                            {% endfor %}
                        </div>
                        <div class="post-body">
                            {{ post.content| safe}}
                        </div>
                    </div>
                </div><!-- end of  dummy post -->
                <div class="post-suggested"><span>Posts sugeridos</span></div>
                <div class="next-previus-post flex-row">
                    {% if post.previous_post %}
                    <div class="post-title flex-row">
                        <a href="{{ post.previous_post.get_absolute_url }}">
                            <i class="fas fa-chevron-left"></i>
                            <span>{{ post.previous_post.title|truncatechars:30  }}</span>
                        </a>
                    </div>
                    {% endif %}
                    {% if post.next_post %}
                    <div class="post-title flex-row">
                        <a href="{{ post.next_post.get_absolute_url }}">
                            <span>{{ post.next_post.title|truncatechars:30 }}</span>
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                    {% endif %}
                </div>
                <div id="comentary">
                    <div class="container">
                        <h3>Comentarios(3)</h3>
                    </div>
                    <div class="comentary">
                        <div>
                            <span><i class="fas fa-user text-grey"></i>&nbsp;&nbsp;{{ post.author }}</span>
                        </div>
                        <div>
                            <span><i class="fas fa-calendar-alt text-grey"></i>&nbsp;{{ post.timestamp|date|lower }}</span>
                        </div>
                        <div>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque exercitationem corrupti odio commodi consequuntur eum, velit veniam magnam consequatur.</p>
                        </div>
                    </div>

                    <div class="comentary">
                        <div>
                            <span><i class="fas fa-user text-grey"></i>&nbsp;&nbsp;{{ post.author }}</span>
                        </div>
                        <div>
                            <span><i class="fas fa-calendar-alt text-grey"></i>&nbsp;{{ post.timestamp|date|lower }}</span>
                        </div>
                        <div>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque exercitationem corrupti odio commodi consequuntur eum, velit veniam magnam consequatur.</p>
                        </div>
                    </div>

                    <div class="comentary">
                        <div>
                            <span><i class="fas fa-user text-grey"></i>&nbsp;&nbsp;{{ post.author }}</span>
                        </div>
                        <div>
                            <span><i class="fas fa-calendar-alt text-grey"></i>&nbsp;{{ post.timestamp|date|lower }}</span>
                        </div>
                        <div>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque exercitationem corrupti odio commodi consequuntur eum, velit veniam magnam consequatur.</p>
                        </div>
                    </div>

                </div>
            </div>


            {% include 'components/sidebar.html' with most_recent=most_recent category_count=category_count %}

        </div>

        </div>
    </section>

</main>
{% endblock content %}
