{% load static %}
<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="about">
            <h2>Sobre</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum numquam excepturi deserunt vel! Quos officiis tenetur consequatur sed molestiae unde!</p>
        </div>
        <div class="newsletter">
            <h2>Inscrever-se</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <div class="form-element">
                <input type="text" class="input-element" placeholder="Email">
                <span><i class="fas fa-chevron-right"></i></span>
            </div>
        </div>
        <div class="instagram">
            <h2>Instagram</h2>
            <div class="flex-row">
                <img src="{% static 'assets/img/instagram/thumb-card3.png' %}" alt="1">
                <img src="{% static 'assets/img/instagram/thumb-card4.png' %}" alt="2">
                <img src="{% static '/assets/img/instagram/thumb-card5.png' %}" alt="3">
            </div>
            <div class="flex-row">
                <img src="{% static 'assets/img/instagram/thumb-card6.png' %}" alt="4">
                <img src="{% static 'assets/img/instagram/thumb-card7.png' %}" alt="5">
                <img src="{% static 'assets/img/instagram/thumb-card8.png' %}" alt="6">
            </div>
        </div>
        <div class="social">
            <h2>Redes Sociais</h2>
            <p>Lorem ipsum dolor sit.</p>
            <i class="fab fa-facebook social-white"></i>
            <i class="fab fa-twitter social-white"></i>
            <i class="fab fa-whatsapp social-white"></i>
            <i class="fab fa-youtube social-white"></i>
        </div>
    </div>
    <div class="copyrights flex-row">
        <h4 class="text-grey">
            Copyright &copy; 2019 | desenvolvido por
            <a href="https://www.lucasdiastavares.com.br" target="_blank">Lucas Tavares</a>
        </h4>
    </div>
</footer>
