{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LucasTavares</title>
    <!-- Custom Style -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="{% static 'assets/css/all.min.css' %}">
    <!-- Owl Carousel 2.3.4 -->
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="{% static 'style/github.css' %}">
</head>
