{% load static %}

<!-- Jquery-->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<!-- FontAwesome -->
<script src="{% static 'assets/js/all.min.js' %}"></script>
<!-- Custom JavaScript Style -->
<script src="{% static 'assets/js/script.js' %}"></script>
<!-- Owl Carousel -->
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>

<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
