{% load static %}
<aside class="sidebar">
    <div class="mb-4 search-field">
        <h2>Procure no blog</h2>
        <div class="flex-row">
            <form action="{% url 'search' %}" class="search-form">
                <div class="form-group">
                    <input type="text" name="q" placeholder="O que você está procurando?">
                    <i class="fas fa-search"></i>
                </div>
            </form>
        </div>
    </div>

    <div class="popular-post">
        <h2>Ultimos Posts</h2>
        {% for post in most_recent %}
        <div>
            <div class="post-content">
                <!-- show image on sidebar
                <div class="post-image">
                    <div>
                        <a href="{{ post.get_absolute_url }}">
                            <img src="{{ post.thumbnail.url }}" class="img" alt="popular-post">
                        </a>
                    </div>
                    <div class="post-info flex-row">
                        <span><i class="fas fa-user text-grey"></i>&nbsp;&nbsp;{{ post.author }}</span>
                        <span><i class="fas fa-calendar-alt text-grey"></i>&nbsp;{{ post.timestamp|timesince }} atrás</span>
                    </div>
                </div>
                -->
                <div class="post-title">
                    <a href="{{ post.get_absolute_url }}">{{post.title}}</a>
                </div>
            </div>
            </a>
        </div>
        {% endfor %}
    </div>

    <div class="category">
        <h2>Categorias</h2>
        <ul class="category-list">
            {% for cat in category_count %}
            <li class="list-items">
                <a href="http://localhost:8000/seach/?q={{ cat.categories__title  }}">{{ cat.categories__title }}</a>
                <span>({{ cat.categories__title__count }})</span>
            </li>
            {% endfor %}
        </ul>
    </div>

</aside>
