{% load static %}
<!-- Asidebar -->
<aside class="sidebar">
    <!-- Popular Posts -->
    <div class="popular-post">
        <h2>Popular Posts</h2>
        <!-- Dummy Pupular Post 1 -->
        <div class="post-content">
            <div class="post-image">
                <div>
                    <img src="{% static 'assets/img/popular-post/m-blog-1.jpg' %}" class="img" alt="popular-post">
                </div>
                <div class="post-info flex-row">
                    <span><i class="fas fa-user text-grey"></i>&nbsp;&nbsp;Admin</span>
                    <span><i class="fas fa-comment text-grey"></i>&nbsp;&nbsp;7589</span>
                </div>
            </div>
            <div class="post-title">
                <a href="#"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, consectetur!</a>
            </div>
        </div><!-- end of dummy popular post -->

        <!-- Dummy Pupular Post 2 -->
        <div class="post-content">
            <div class="post-image">
                <div>
                    <img src="{% static 'assets/img/popular-post/m-blog-2.jpg' %}" class="img" alt="popular-post">
                </div>
                <div class="post-info flex-row">
                    <span><i class="fas fa-user text-grey"></i>&nbsp;&nbsp;Admin</span>
                    <span><i class="fas fa-comment text-grey"></i>&nbsp;&nbsp;758</span>
                </div>
            </div>
            <div class="post-title">
                <a href="#"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, consectetur!</a>
            </div>
        </div><!-- end of dummy popular post -->

        <!-- Dummy Pupular Post 3 -->
        <div class="post-content">
            <div class="post-image">
                <div>
                    <img src="{% static 'assets/img/popular-post/m-blog-3.jpg' %}" class="img" alt="popular-post">
                </div>
                <div class="post-info flex-row">
                    <span><i class="fas fa-user text-grey"></i>&nbsp;&nbsp;Admin</span>

                    <span><i class="fas fa-comment text-grey"></i>&nbsp;&nbsp;75</span>
                </div>
            </div>
            <div class="post-title">
                <a href="#"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, consectetur!</a>
            </div>
        </div><!-- end of dummy popular post -->

        <!-- Dummy Pupular Post 4 -->
        <div class="post-content">
            <div class="post-image">
                <div>
                    <img src="{% static 'assets/img/popular-post/m-blog-4.jpg' %}" class="img" alt="popular-post">
                </div>
                <div class="post-info flex-row">
                    <span><i class="fas fa-user text-grey"></i>&nbsp;&nbsp;Admin</span>

                    <span><i class="fas fa-comment text-grey"></i>&nbsp;&nbsp;74</span>
                </div>
            </div>
            <div class="post-title">
                <a href="#"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, consectetur!</a>
            </div>
        </div><!-- end of dummy popular post -->

        <!-- Dummy Pupular Post 5 -->
        <div class="post-content">
            <div class="post-image">
                <div>
                    <img src="{% static 'assets/img/popular-post/m-blog-5.jpg' %}" class="img" alt="popular-post">
                </div>
                <div class="post-info flex-row">
                    <span><i class="fas fa-user text-grey"></i>&nbsp;&nbsp;Admin</span>

                    <span><i class="fas fa-comment text-grey"></i>&nbsp;&nbsp;70</span>
                </div>
            </div>
            <div class="post-title">
                <a href="#"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, consectetur!</a>
            </div>
        </div><!-- end of dummy popular post -->
    </div>

    <!-- Categories -->
    <div class="category">
        <h2>Cetegorias</h2>
        <ul class="category-list">
            <li class="list-items">
                <a href="#">Python</a>
                <span>(50)</span>
            </li>
            <li class="list-items">
                <a href="#">Django</a>
                <span>(89)</span>
            </li>
            <li class="list-items">
                <a href="#">ReactJS</a>
                <span>(16)</span>
            </li>
            <li class="list-items">
                <a href="#">ReactNative</a>
                <span>(77)</span>
            </li>
            <li class="list-items">
                <a href="#">CSS</a>
                <span>(987)</span>
            </li>
        </ul>
    </div>

    <!-- Popular Tags -->
    <div class="popular-tags">
        <h2>Popular Tags</h2>
        <div class="tags flex-row">
            <span class="tag">Python</span>
            <span class="tag">Django</span>
            <span class="tag">ReactJS</span>
            <span class="tag">ReactNative</span>
            <span class="tag">JavaScript</span>
            <span class="tag">Software</span>
            <span class="tag">Design</span>
            <span class="tag">Fashion</span>
        </div>
    </div>

</aside>
